body {
  background-color: #fff;
}

.bg-custom {
  background-color: rgb(18, 18, 219);
  transition: 0.3s;
  border: 1px solid blue;
  color: rgb(255, 255, 255);
}
.bg-custom:hover {
  background-color: #ff596b !important;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff !important;
}

.bg-active {
  background-color: #fff !important;
  transition: 0.3s;
  border: 0px;
  color: #ff496e;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.navbar {
  width: 100%;
}

.nav-link {
  font-size: large;
  margin-left: 100px;
}

.desc {
  max-width: 400px;
}

.tebel-banget {
  font-weight: 900;
}

.tebel-sedang {
  font-weight: 600;
}

.button {
  background-image: linear-gradient(to right, #cc3467 0%, #ff496e 51%);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.button:hover {
  background-image: linear-gradient(to right, #a22b52 0%, #ca3a59 51%);
  color: white;
}

.gambar {
  display: none;
}

.img {
  width: 500px;
  z-index: -1;
}

.link {
  color: gray;
  transition: 0.3s;
}

.link:hover {
  color: #ff496e;
}
